@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-primary-light: #1E293B;
  --color-primary-dark: #020617;
  --color-accent: #38BDF8;
  --color-accent-hover: #0EA5E9;
  --color-accent-content: #ffffff;
}

@layer base {
  body {
    background-color: #F8FAFC;
    color: #0F172A;
    font-family: 'Inter', system-ui, sans-serif;
  }
}